<div id="popups">
  <div class="popup_wrap">
    <div class="shade_wrap"></div>
    <div class="container_wrap">

      <h2><%= t("authorizme.password_reset.new_password_form.title") %></h2>
      <p><%= t("authorizme.password_reset.new_password_form.description") %></p>

      <%= form_for @user, :url => "/#{Authorizme::namespace}/password_resets/#{params[:id]}" do |f| %>

        <% if @user.errors.any? && @user.errors.get(:password) %>
          <div class="error_messages">
            <ul>
              <% @user.errors.get(:password).each do |error| %>
              <li><%= error %></li>
              <% end %> 
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <% if @user.errors.any? && @user.errors.get(:password_confirmation) %>
          <div class="error_messages">
            <ul>
              <% @user.errors.get(:password_confirmation).each do |error| %>
                <li><%= error %></li>
              <% end %> 
            </ul>
          </div>
        <% end %>
        
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="actions">
          <div class="button_wrap center green">
            <%= f.submit t("authorizme.password_reset.new_password_form.submit") %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
